@font-face {
    font-family: "FontAwesome";
    src: url("https://use.fontawesome.com/releases/v5.0.7/js/all.js");
}
body ul{
    list-style: none;
}
.pure-form-message.error{
    color:red;
    font-weight: bold;
}
.error{
    color:red;
    font-size: 0.9em;
}
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1f8dd6;
}
.pure-menu-list li:hover .submenu {
    display: block;
    max-height: 200px;
}
.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}
.shiftList{
    width: 300px;
    height: 200px;
    overflow: auto;
}
.shiftList ul li{
    list-style: none;
}
@keyframes loader {
    50% {
        filter: blur(5px);
        transform: translateY(-10px);
        opacity: 0.3;
    }
}
.screenLoader{
    height: 100%;
    margin: 0;
background-color: bisque;}



.loader {
    width: 100px;
    height: 15px;
    margin: -7px auto 0 auto;
    position: relative;
    top: 50vh;
}

.loader > div {
    height: 15px;
    width: 15px;
    background-color: #222;
    float: left;
    margin: 0 5px 0 0;
    animation: loader 0.7s infinite;
    opacity: 0.5;
    border-radius: 10%;
}

.loader > div:nth-child(1) {
    animation-delay: 0.1s;
}

.loader > div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader > div:nth-child(3) {
    animation-delay: 0.3s;
}

.loader > div:nth-child(4) {
    animation-delay: 0.4s;
}

.loader > div:nth-child(5) {
    animation-delay: 0.5s;
}
#rotaSelf{
    background-color: #fcf8e3;
}
.pft-directory{
    position: relative;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.pft-directory::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f07b  ";
}
li .pft-file{
    position: relative;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
li .pft-file::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f15c  ";
}


