{% extends 'base.html.twig' %}

{% block nav %}
    <div class="pure-menu custom-restricted-width">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}media/images/logo.png" alt="well street logo"></a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item  ">
                <a href="?page=employees" class="pure-menu-link"><i class="fas fa-address-book"></i> Employees</a>
            </li>
            <li class="pure-menu-item"><a href="?page=holiday" class="pure-menu-link"><i class="fas fa-plane"></i> Holiday</a></li>
            <li class="pure-menu-item"><a href="?page=documents" class="pure-menu-link"><i class="fas fa-file-alt"></i> Documents</a></li>
            <li class="pure-menu-item "><a href="?page=payslip" class="pure-menu-link"><i class="fas fa-dollar-sign"></i> Payslip</a></li>
            <li class="pure-menu-item"><a href="?page=communication" class="pure-menu-link"><i class="fas fa-envelope"></i> Communication</a></li>
            <li class="pure-menu-item pure-menu-has-children">
                <a href="?page=adminrota" class="pure-menu-link "> <i class="fas fa-clock"></i> Rota</a>
                <ul class="submenu">
                    <li class="pure-menu-item"><a href="?page=adminrotafoh" class="pure-menu-link">FOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotaboh" class="pure-menu-link">BOH</a></li>
                    <li class="pure-menu-item"><a href="?page=adminrotanewshift" class="pure-menu-link">Create New Shift</a></li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}


