{% extends 'base.html.twig' %}

{% block nav %}
    <div class="pure-menu">
        <a class="pure-menu-heading" href="{{ self }}?page={{ homeLink }}"><img class="pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}/media/images/logo.png" alt="well street logo"></a>
    </div>
{% endblock %}

{#{% block mainHeader %}#}
    {#<h1>Add Employees</h1>#}
{#{% endblock %}#}

 {% block content %}
<div class="pure-g">
    <div class="pure-u-1">
        <h1>Employee already added</h1>
        <p>Use the search function to find the new entry</p>

    </div>
    <div class="pure-u-1">
        <a class="pure-button pure-button-primary" href="{{ self }}?page=admin">Admin page</a>
    </div>
</div>
{% endblock %}