<link rel="stylesheet" href="media/css/mystyle.css">
<div class="screenLoader">
    <div class='loader'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
