{% extends 'base.html.twig' %}

{% block nav %}
    <div class="pure-menu custom-restricted-width">
      <img class="pure-menu-heading pure-img-responsive" id="logoImg" src="{{ FILE_ROOT }}/media/images/logo.png" alt="well street logo">

    </div>
{% endblock %}

{% block header %}
    <h1>You have no priviledges to access this page</h1>
{% endblock %}

{% block content %}
    <h1>Sorry you will be redirect shortly to the homepage</h1>
    <h4>TRY TO LOGIN BACK</h4>
{% endblock %}