@import "mixin";
@import "variables";

/*==== General setting ========*/
body {
  background-color: antiquewhite;
  font-family: $base-font-family;
  h1,h2,h3,h4,h5,h6{
    font-family: $header-font-family;
  }
  p, ul, ol, pre, table, thead, tbody, tr, td, select, form, fieldset, label, button, input, a{
    font-family: $base-font-family;
  }
}
a {
  text-decoration: none;
  color:$electricBlue;
  &:hover{
    color: #1f8dd6;
  }
}
button{
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
}


/*===== login style =====*/

#homeBody{
  #homeHeader{
    height: 10%;
    text-align: center;
    text-transform: capitalize;
    h1{
      color: white;
      font-family: $header-font-family;
      font-size: 2.4em;
      display: inline-block;
      position: relative;
      color: white;
      font-family: $header-font-family;
      letter-spacing: 12px;
    }
  }
  .pure-form{
      margin: auto;
      background-color: antiquewhite;
      margin-top: 4%;
      width: 50%;
      padding: 10px;
      text-align: center;
      border: 1px solid $darkGrey;
      border-radius: 4px;
      box-shadow: 0 8px 6px -6px black;
        #homeImg{
          position: relative;
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 25%;
        }
        legend{
          border-bottom: none;
        }
        input{
          margin: auto;
          width: 50%;
        }
        label{
          margin-top: 17px;
          margin-bottom: 8px;
        }
        input[type="password"]{
          margin-bottom: 35px;
        }
        button{
          margin-top: 10px;
        }
      @include breakpoint(laptop){
        width: 45%;
      }
      @include breakpoint(tablet){
        box-shadow: none;
        border: none;
        width: 100%;
      }
    }
}

/*==== navigation ====*/

header{
  background-color: $electricBlue;
  height: 111.3px;
   #title{
    display: inline-block;
    position: relative;
    top: -20px;
    color: white;
    font-family: $header-font-family;
    letter-spacing: 7.8px;
    @include breakpoint(tablet){
      font-size: 2.5em;
    }
     @include breakpoint(mobile){
       font-size: 1.7em;
     }
     @include breakpoint(laptop){
       letter-spacing: 15px;
     }
  }
  .pure-u-1-2{
    color: $darkGrey;
    p{
      position: relative;
      top:-15px;
      float: left;
      font-weight: bold;
      @include breakpoint(mobile){
        display: none;
      }
    }
    a{
      color: $darkGrey;
      float: right;
      font-size: .9em;
      &:hover{
        color: antiquewhite;
      }
      @include breakpoint(mobile){
        margin-top: 3px;
      }
    }
  }
}

/*==== nav bar ====*/

#menu{
  .pure-menu-heading{
    height: 128.9px;
    background-color: $electricBlue;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: $darkGrey;
    #logoImg{
      width: 85%;
      position: relative;
      top: 5%;
      left: 3%;
      right: 0%;
      bottom: 0;
      margin: auto;
      background-image: url("../media/images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .pure-menu-list{
    .pure-menu-selected{
      color: antiquewhite;
    }
    .pure-menu-item{
      .pure-menu-link{
        @include transition(background-color .35s ease);
        @include transition(color .35s ease);
        &:hover{
          color: antiquewhite;
        }
      }
    }
  }
}

/*==== main header ====*/

#mainHeader{
  height: 3%;
  display: block;
  position: relative;
  z-index: -1;
  background: none;
  margin-bottom: 25px;
  text-align: center;
    h1{
      font-size: 2.1em;
      position: static;
      color: $darkGrey;
      @include breakpoint(mobile){
        font-size: 1.4em;
      }
    }
}

/*==== footer nav =====*/

#navFooter{
  font-size: 0.7em;
  position:fixed;
  bottom:-3px;
  left:7px;
  @include breakpoint(tablet){
    position: absolute;
    bottom:0px;
  }
}

/*==== rota table ====*/

.rotaTable{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 30px;
  tr{
    background: #eee;
  }
  th {
    background: $darkGrey;
    color: white;
    font-weight: bold;
  }
  td, th {
    padding: 0.4rem;
    border: 1px solid #ccc;
    text-align: left;
  }
  select{
    max-width: 90%;
    border-radius: 3px;
    padding: 4px;
  }
  @include breakpoint(tablet){
    table-layout: auto;
  }

}

/*===== admin dashboard ======*/

#adminHome{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .col-1, .col-1-2 {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    header{
      background-color: transparent;
      text-align: center;
      border-bottom: 1px solid black;
      height: 100%;
      color: $darkGrey;
    }
    ol{
      padding: 0px;
      list-style-type: none;
      font-size: 14px;
      a{
        float: right;
        font-weight: bold;
        @include breakpoint(tablet){
          position: relative;
        }
      }
    }
    .buttonstyle{
      font-weight: bold;
    }
  }
  .col-1{
    grid-column:1 / span 2;

  }
  .reminder{
    font-weight: bold;
    color: #dd4444;
  }
  .pure-form{
    .pure-input-rounded{
      padding-right: 0px;
      @include breakpoint(mobile){
        padding-right: 5em;
      }
    }
    span{
      font-size: 14px;
    }
  }

  @include breakpoint(mobile){
    display: block;
  }
}

/*==== employee page ====*/
#adminEmployee{
  .pure-checkbox{
    font-size: .9em;
    position: relative;
    left: 65px;
  }
  #addEmployee{
    #admin{
      position: relative;
      left: 68px;
    }
    button{
      position: relative;
      left: 133px;
    }
  }
}

/*==== document ====*/

#adminDocument{
  .pure-u-1{
    margin-bottom: 40px;
  }
  .pure-control-group{
    margin-bottom: 20px;
  }
  input{
    margin: 5px;
  }
}

/*==== payslip ====*/

#uploadPayslip{
  #button{
    margin-top: 30px;
    position: relative;
  }
  #year{
    position: relative;
    right: 100px;
  }
  #yearLabel{
    position: relative;
    right: 100px;
  }
  .pure-control-group{
    margin-bottom: 20px;
  }
  h3{
    text-align: center;
    margin-top: 30px;
  }
}

/*=== admin employee ===*/

#adminAddEmployee2{
  #findAddress{
    font-weight: bold;
    margin-left: 5px;
  }
}

/*=== admin holiday ===*/

#adminHoliday{
  margin-bottom: 30px;
  button{
    a{
      color: $darkGrey;
    }
  }
}

/*=== user rota ===*/

#userrota{
  button{
    margin-top: 20px;
    
    a{
      color: $darkGrey;
    }
  }
}